/* switch btn  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* slider:background  */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* slider:dot  */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: black;
}
input:focus + .slider {
  box-shadow: 0 0 1px black;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* main region -------------------- */
/* showing  */
.index__showing {
  display: flex;
  flex-direction: column;
}
.index__showing-header {
  display: flex;
  justify-content: space-between;
}
.index__showing-list {
  display: flex;
  overflow-x: scroll;
  gap: 1.5rem;
}

.index__showing-list::-webkit-scrollbar {
  display: none;
}

.index__showing-movie {
  width: 100%;
}
.index__showing-imgContainer {
  width: min(400px, 30vw);
}
.index__showing-img {
  width: 100%;
  border-radius: 14px;
}

/* popular  */
.index__popular-movie {
  display: flex;
  margin-bottom: max(1rem, 0.7rem);
}
.index__popular-imgContainer {
  width: min(200px, 20vw);
}
.index__popular-img {
  width: 100%;
  border-radius: 14px;
}
.index__popular-genres {
  display: flex;
  gap: 0.5rem;
  margin: 0rem 0.5rem;
}
