.wrapper {
  width: var(--max-width);
  margin: auto;
}

/* header region -------------------- */
/* header region -------------------- */
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
